<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.siyanhui.mojif.bqss_demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".BQSSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="bqmm_app_id"
            android:value="${bqmmAppID}"/>
        <activity android:name=".ui.activity.BQSSMainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.BQSSQuaterSearchActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activity.BQSSHalfSearchActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.activity.BQSSFullSearchActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activity.BQSSFullSearchHomePage"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.activity.BQSSFullSearchResultPage"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>